html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
}

.container {
  max-width: 90%;
  margin: 10px auto;
}

.main-content,
#root {
  background-color: lightblue;
  padding: 10px;
  margin: 10px;
}

.form {
  display: flex;
  justify-content: space-around;
}

.nav-bar {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}

header,
footer {
  background: lightgray;
  padding: 10px;
}
header {
  display: flex;
  margin-bottom: 100px;
}
header div:first-child {
  flex: 1;
}

button {
  background-color: rgb(54, 145, 225);
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 18px;
  border-color: rgb(112, 102, 102);
}

footer > button {
  background-color: transparent;
  border: none;
  color: rgb(54, 145, 225);
}

form.form-style > div {
  margin: 10px;
}

form.form-style > div > button {
  margin-right: 20px;
}

div.error {
  color: red;
}
footer {
  text-align: center;
  margin-top: 100px;
}

h6 {
  font-size: 0.75em;
}

.table-header {
  display: flex;
  flex-direction: row-reverse;
}

.link {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.users-component,
.roles-component {
  background-color: white;
  padding: 20px;
}

/* Caution this overrides a Bootstrap class */
.btn-primary {
  margin-right: 3px;
}

.help {
  color: red;
}

.custom-card {
  flex: 1;
  margin: 5px;
}

.custom-card:hover {
  background-color: lightskyblue;
}

.dashboard-cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.card-subtitle {
  width: 200px;
}
